[package]
name = "enderecobr-rs"
version = "0.1.0"
edition = "2024"

[dependencies]
arrow = "56.2.0"
crfs = "0.2.0"
crfsuite = "0.3.1"
csv = "1.3.1"
diacritics = "0.2.2"
duckdb = { version = "1.4.1", features = [] }
fancy-regex = "0.16.1"
itertools = "0.14.0"
parquet = "56.2.0"
polars = { version = "0.51.0", features = ["lazy", "parquet", "strings", "new_streaming", "polars-lazy", "polars-io", "polars-parquet"] }
regex = "1.11.1"
