[package]
name = "enderecobr-rs"
version = "0.1.0"
edition = "2024"

[dependencies]
csv = "1.3.1"
diacritics = "0.2.2"
duckdb = { version = "1.4.1", features = [] }
fancy-regex = "0.16.1"
regex = "1.11.1"
